$global-background: #f9f9f9;
$global-primary-background: #A3E8B0;
$global-link-color: #DA7D02;
$global-muted-background: white;
$global-font-family: 'Maitree', sans-serif;

// 2. Import default variables and available mixins.
@import "~uikit/src/scss/variables-theme.scss";
@import "~uikit/src/scss/mixins-theme.scss";

// 3. Your custom mixin overwrites.
@mixin hook-card() { color: #000; }

// 4. Import UIkit.
@import "~uikit/src/scss/uikit-theme.scss";
